<div class='container text-left pt-3'>
  <div class='row'>
    <div class='col-4'>
      <%= image_tag render_profile_picture(@user.profileImg), class: 'profile-pic img-thumbnail' %>
    </div>

    <div class='col-8 align-self-center'>
      <h3 class='m-0'><%= @user.full_name %></h3>
      <p class='m-0'><%= @user.username %></p>
      <div class='d-flex'>
        <p class='m-0'><%= @user.posts.count %> posts</p>
        <p class='mb-0 mx-5'><%= pluralize(@user.total_followers, 'follower') %></p>
        <p class='m-0'><%= pluralize(@user.total_following, 'following') %></p>
      </div>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-light border mt-1' if can_edit_profile?(@user.id) %>
    </div>
  </div>

  <div class='posts-area'>
    <h5>Posts:</h5>
    <% if private?(@user) %>
      <p>Follow this user to see his posts.</p>
    <% else %>
      <div class='row'>
        <% @user_posts.each do |post| %>
          <div class='col-12 col-sm-4 post-square'>
            <%= link_to image_tag(post.image_url, class: 'img img-fluid cursor-pointer'), post_path(post.id) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
